body {
  background: black;
  color:white;
  font-family: Raleway;
}
#video-compare-container {
  display: inline-block;
  line-height: 0;
  width: 100%;
  padding-top: 50%;
  min-height: 100%;
}
#video-compare-container > video {
  width: 100%;
  position: absolute;
  top: 0; 
  min-height: 100%;
}
#video-clipper {
  width: 50%; 
  position: absolute;
  top: 0; bottom: 0;
  overflow: hidden;
  min-height: 100vh;
}
#video-clipper video {
  width: 200%;
  /* position: absolute; */
  min-height: 100vh;
}

#texto {
  z-index: 1;
  position: absolute;
  top: 20vh;
  margin: 5vw;
  cursor: pointer!important;
}

#texto h1 {
  font-size: 4vw;
  text-shadow: #00000022 0 0 5px;
  cursor: default!important;
}

#texto h6 {
  width: 80vw;
  margin: 0; 
  font-size: 2vw;
  cursor: default;
  line-height: 1.2;
}
